/*Basic CSS*/
    .alignleft{
      float: left;
      margin-right: 15px;
    }
    .alignright{
      float: right;
      margin-left: 15px;
    }
    .aligncenter{
      display: block;
      margin:0 auto 15px;
    }
    a:focus{
      outline: 0 solid
    }
    /*input:focus, button:focus {
    outline: 0 solid
    }*/
    img{
      max-width: 100%;
      height: auto;
    }
    h1,h2,h3,h4,h5,h6{
      margin: 0 0 15px;
      font-weight: 700;
    }
    body{
      font-family: 'Open Sans',sans-serif;
    }
    a:hover{
      text-decoration:none;
    }
 /* end of Basic CSS*/ 

.calculator{
  height: 360px;
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  background-color: #96C69B;
 }
.main-bar{
  margin-bottom: 20px;
  text-align: right;
  font-size: 20px;
  font-weight: 800;
}
.line{
  margin-bottom: 10px;
}
.btn{
  width: 60px;
  cursor: pointer;
  font-size: 20px;
}
.last input{
  width: 125px;
}